@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --border: 1px solid #DCELE4; /* Define un borde sólido de 1 píxel de grosor con el color #DCELE4 como variable CSS llamada --border. */
    --gradient: linear-gradient(
        -45deg, #D000F7, #24BAE3
    );
    --box-shadow: 5px 5px 15px #C1C8D3,
    -5px -5px 15px #fff; /* Define una sombra para cajas como variable CSS llamada --box-shadow. La sombra tiene dos partes: una sombra oscura desplazada 5 píxeles a la derecha y hacia abajo, y una sombra clara desplazada 5 píxeles a la izquierda y hacia arriba. */
}

a{
    text-decoration: none;
    color: #000;
}

.banner{
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: var(--border);
    padding-bottom: 50px;
}

.banner .content{
    text-align: justify;
    padding-right: 50px;
}

.banner .content h1{
    font-size: 3.5em;
    margin: 0;
}

.gradientText{
    display: inline-block;
    background-image: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.job::before{
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: 
        effectText 1s linear infinite alternate,
        changeText 4s linear infinite
}

@keyframes effectText{
    from{
        max-width: 0;
    }to{
        max-width: 500px;
    }
}

@keyframes changeText{
    0%{
        content: attr(data-job1);
    }100%{
        content: attr(data-job2);
    }
}

.find{
    margin-top: 50px;
}

.find ul{
    padding: 0;
    list-style: none;
    display: flex;
}

.find ul li{
    width: 170px;
    height: 50px;
    box-shadow: var(--box-shadow);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.find ul li:hover{
    background-image: var(--gradient);
}

.find ul li a:hover{
    color: #fff;
}

.find ul li .icon {
    font-size: 30px;
    margin-right: 5px
}

.banner .avatar img{
    width: 90%;
}

.banner .avatar{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.banner .avatar::before{
    position: absolute;
    width: 90%;
    height: 80%;
    box-shadow: var(--box-shadow);
    content: '';
    bottom: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px){
    .banner .content h1{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 767px){
    .banner{
        grid-template-columns: 1fr;
    }
}

